{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>studyGram</title>
  <link rel="stylesheet" href="{% static 'css/defineFonts.css' %}">
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
 {%block header %}
 <nav>
     <div class="pages"></div>
     <div class="login">
         <button>Zaloguj się</button>
         <button>Zarejestruj się</button>
     </div>
 </nav>
 <header>
     <div class="headerText">
         <p>Najlepsze notatki</p>
         <p>W zasięgu ręki</p>
     </div>
     <div class="searchField">
         <input type="text" placeholder="Czego dzisiaj się uczysz?" required>
     </div>
     <div class="scrollDown"></div>
 </header>
 {%endblock header %}
  {%block content %} 

<form action="/marketplace/" method="get">
{% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" />
</form>
<h1>PRODUCT</h1>
<!-- list of 6 best products (check views.py file to change the number) -->
<ul>
  {% for product in best_products %} 
    {% for key, value in product.items %}
      <li>{{key}}<br />{{value}}</li>

    {% endfor %} 
  {% endfor %}
</ul>
<hr />
<!-- list of 6 best products (check views.py file to change the number) -->
<h1>PROFILE</h1>
<!-- list of 3 most popular profiles (check views.py file to change the number) -->
<ul>
  {% for profile in popular_profiles %} 
    {% for key_prof, value_prof in profile.items %}
      <li>{{key_prof}}<br />{{value_prof}}</li>

    {% endfor %} 
  {% endfor %}
</ul>
<hr />
{%endblock content%}
{%block footer %}
 {%endblock footer %}
</body>
</html>
